*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: white;
}

header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background-color: rgb(247, 241, 241);
  box-shadow: 0 1rem 1rem -1rem rgba(7, 7, 7, 0.2);
  height: 6rem;
  
}
.orange{
  color: orangered;
}
.logo{
  font-size: 30px;
  font-weight: 700;
  color: black;
  display: flex;
}
.navlist{
  display: flex;
  
}
.navlist a{
  color: rgb(139, 129, 129);
  margin-left: 20px;
  
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}
.navlist a:hover{
  color: black;
  text-decoration: underline;
  
}
.btn1{
  margin-left: 159px;
  width: 9em;
  height: 3.5em;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  transition: all .55s ease;
  
}
.btn1:hover{
  background-color: rgb(245, 181, 62);
  color: white;
  border: transparent;
  transform: translateX(8px);
}
#btn{
  background-color: orange;
  border: none;
  width: 9em;
  height: 3.5em;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  transition: all .55s ease;
  margin-left: 20px;
}
#btn:hover{
  
  transform: translateX(8px);
}

.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;
}
img{
  width: 490px;
  margin-top: 90px;
  border-radius: 20px;
}
section{
  padding: 4% 15%;
}
.hero-text h1{
  font-family: 'Grape Nuts', cursive;
  font-size: 69px;
  line-height: 1;
  color: black;
  margin: 0 0 45px;
}
.hero-text p{
  color: rgb(83, 80, 80);
  font-size: 16px;
}
.hero-text a{
  display: inline-block;
  color: white;
  background-color: orange;
  border: 1px solid transparent;
  padding: 12px 30px;
  margin-top: 19px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  transition: all .55s ease;
}
.hero-text .ctaa{
  margin-left: 9px;

}
.hero-text a:hover{
  transform: translateX(8px);
  background-color: rgb(235, 196, 123);
  color: black;
}
.hero1{
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-text1 h1{
  text-align: center;
  font-family: 'Grape Nuts', cursive;
  font-size: 30px;
  margin-bottom: 12px;

}
.hero-text1 p{
  text-align: center;
  color: rgb(83, 80, 80);
}
.hero-img1 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: right;
  justify-content: center;
  gap: 2rem;
}
.hero-img1 img {
  width:170px;
  height: 150px;
  text-align: center;
  margin-left: 50px;
  margin-top: 40px;
}
.hero-img1 div{
  text-align: center;
  margin: 12px;
  padding: 15px;
  color: rgb(83, 80, 80);
}
.hero-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.hero2 h1{
  text-align: center;
  font-family: 'Grape Nuts', cursive;
  font-size: 30px;
  margin-bottom: 12px;
}
.hero2 p{
  color: rgb(139, 129, 129);
  text-align: center;
  margin-bottom: 30px;
}
.hero-box div{
  border: 1px solid transparent;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 3px 5px rgba(7, 7, 7, 0.2);
  margin-left: 100px;
  cursor: pointer;
  transition: all .55s ease;
  
}
.hero-box h5{
  text-align: center;
  font-size: 25px;
  color: orange;
  font-family: 'Playfair Display', serif ;
}
.hero-box p{
  color: black;
}
.hero-box div:hover{
  transform: translateX(14px);  
  background-color: rgb(241, 212, 158);
}

.hero3-text h1{
  text-align: center;
  font-family: 'Grape Nuts', cursive;
  font-size: 30px;
  margin-bottom: 32px;
}
.hero3 .box2{
  border: 1px solid transparent;
  background-color: rgb(231, 208, 165);
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 5px rgba(7, 7, 7, 0.2);
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.hero3 img{
  height: 250px;
  width:200px;
  margin-top: 25px;
  text-align: center;
}
.hero3 .box2 h1{
  font-size: 29px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-family:  'Playfair Display', serif;
}
.hero3 .box2 p{
  font-size: 20px;
  color: rgb(83, 80, 80);
}
footer{
  background-color: rgb(53, 49, 49);
  height: 200px;
  width: 100%;
  padding: 30px;
}
footer .logo1{
  color: white;
  font-size: 30px;
  font-weight: 700;
  display: flex;
}
footer p{
  color: rgb(114, 111, 111);
  margin-top: 20px;
  font-size: 17px;
}
footer p a{
  color: aliceblue;
  text-decoration: underline;
}
.icons{
  margin-top: 50px;
}
.icons i{
  color: white;
  padding-top: 20px;
  
}
.icons i:hover{
  color: #cf9e66;
  transform: translateY(-5px);
}


@media (max-width:1290px) {
  header{
    width: 100%;
  }
  header .logo{
    font-size: 25px;
  }
  .navlist{
    display: flex;
    
  }
  .navlist a{
    color: rgb(139, 129, 129);
    margin-left: 15px;
    
    font-size: 17px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
  }
  section{
    padding: 9% 15%;
  }
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 49px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
  }
}
@media (max-width:1230px) {
  header{
    width: 100%;
  }
  header .logo{
    font-size: 25px;
  }
  .navlist{
    display: flex;
    
  }
  .navlist a{
    color: rgb(139, 129, 129);
    margin-left: 10px;
    
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
  }
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 40px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
  }
  .hero-text a{
    display: inline-block;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
    padding: 9px 25px;
    margin-top: 19px;
    line-height: 1.4;
    font-size: 10px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
  }
  .hero-text .ctaa{
    margin-left: 7px;
  }
  img{
  width: 390px;
  margin-top: 90px;
  border-radius: 20px;
  }
  .hero3 .box2 h1{
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family:  'Playfair Display', serif;
  }
  .hero3 .box2 p{
    font-size: 17px;
    color: rgb(83, 80, 80);
  }

}

@media (max-width:1030px) {
  header{
    width: 100%;
  }
  header .logo{
    font-size: 29px;
  }
  .navlist{
    display: none;
    
  }
  .btn1{
    margin-left: 490px;
  }
  #btn{
    background-color: orange;
    border: none;
    width: 9em;
    height: 3.5em;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    transition: all .55s ease;
    margin-left: 10px;
  }
  .hero-box div{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 3px 5px rgba(7, 7, 7, 0.2);
    margin-left: 50px;
    cursor: pointer;
    transition: all .55s ease;
    
  }
}
@media (max-width:990px) {
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 32px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
}
}
@media (max-width:920px){
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 30px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
  }
  .hero-text a{
    display: inline-block;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
    padding: 7px 20px;
    margin-top: 14px;
    line-height: 1.4;
    font-size: 10px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
  }
  .hero-text .ctaa{
    margin-left: 5px;
  }

  .hero3 .box2 h1{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family:  'Playfair Display', serif;
  }
  .hero3 .box2 p{
    font-size: 15px;
    color: rgb(83, 80, 80);
  }
  section{
    padding: 7% 15%;
  }
}
@media (max-width:880px) {
  img{
    width: 350px;
    margin-top: 90px;
    border-radius: 20px;
  }
}
@media (max-width:880px){
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 25px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
  }
  .hero-text a{
    display: inline-block;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
    padding: 5px 17px;
    margin-top: 12px;
    line-height: 1.4;
    font-size: 10px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
  }
  img{
    width: 300px;
    margin-top: 90px;
    border-radius: 20px;
  }
  .hero-box div{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 280px;
    width: 250px;
    box-shadow: 5px 5px 3px 5px rgba(7, 7, 7, 0.2);
    margin-left: 50px;
    cursor: pointer;
    transition: all .55s ease;
    
  }
  .btn1{
    margin-left: 159px;
    width: 12em;
    height: 3.5em;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: all .55s ease;
    
  }
  
  #btn{
    background-color: orange;
    border: none;
    width: 12em;
    height: 3.5em;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    transition: all .55s ease;
    margin-left: 20px;
  }
}
@media (max-width:780px) {
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 20px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
  }
  .hero-text a{
    display: inline-block;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
    padding: 5px 14px;
    margin-top: 10px;
    line-height: 1.4;
    font-size: 10px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
  }
  section{
    padding: 6% 15%;
  }
}

@media (max-width:740px) {
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 17px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
  }
  .hero-text a{
    display: inline-block;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin-top: 8px;
    line-height: 1.4;
    font-size: 10px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
  }
  .hero-img1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: right;
    justify-content: center;
    gap: 2rem;
  }
  .hero-img1 img {
    width:140px;
    height: 130px;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
  }
  .hero-img1 div{
    text-align: center;
    margin: 10px;
    padding: 12px;
    color: rgb(83, 80, 80);
  }
  .hero-box div{
    border: 1px solid transparent;
    border-radius: 10px;
    height: 250px;
    width: 200px;
    box-shadow: 5px 5px 3px 5px rgba(7, 7, 7, 0.2);
    margin-left: 40px;
    cursor: pointer;
    transition: all .55s ease;
    
  }
}
@media (max-width:680px){
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 14px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
  }
  img{
    width: 250px;
    margin-top: 70px;
    border-radius: 20px;
  }
}
@media (max-width:620px){
  .hero-text a{
    display: inline-block;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
    padding: 2px 9px;
    margin-top: 6px;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
  }
  .btn1{
    margin-left: 139px;
    width: 7em;
    height: 3.5em;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: all .55s ease;
    
  }
  
  #btn{
    background-color: orange;
    border: none;
    width: 7em;
    height: 3.5em;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    transition: all .55s ease;
    margin-left: 20px;
  }
}
@media (max-width:620px){
  .hero{
    margin-top: 100px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: block;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
  }
  section{
    padding: 7% 15%;
  }
  .hero-text h1{
    font-family: 'Grape Nuts', cursive;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
  }
  .hero-text p {
    text-align: center;
  }
  .hero-text a{
    display: inline-block;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
    padding: 9px 16px;
    margin-top: 16px;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
    margin-left: 100px;
  }
  img{
    width: 290px;
    margin-top: 70px;
    margin-left: 70px;
    border-radius: 20px;
  }
  .hero-box div{
    
    border: 1px solid transparent;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 3px 5px rgba(7, 7, 7, 0.2);
    margin-left: 5px;
    cursor: pointer;
    transition: all .55s ease;
    
  }
  .hero3-text h1{
    text-align: center;
    font-family: 'Grape Nuts', cursive;
    font-size: 30px;
    margin-bottom: 32px;
  }
  .hero3 .box2{
    border: 1px solid transparent;
    background-color: rgb(231, 208, 165);
    height: 300px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 5px rgba(7, 7, 7, 0.2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .hero3 img{
    height: 240px;
    width:150px;
    margin-top: 25px;
    text-align: center;
    margin-left: 2px;
  }
  .hero3 .box2 h1{
    font-size: 23px;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family:  'Playfair Display', serif;
  }
  .hero3 .box2 p{
    font-size: 14px;
    color: rgb(83, 80, 80);
  }
  footer{
    width: 650px;
    padding-left: 50px;
  }
  header{
    
    padding: 4px;
    width: 100%;
    
    
  }
}
@media (max-width: 500px) {
  .hero{
    display: block;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
  }
  .hero-img1 {
    display: block;
    grid-template-rows: repeat(3,1fr);
    align-items: right;
    justify-content: center;
    gap: 1rem;
  }
  .hero-img1 img {
    width:140px;
    height: 130px;
    text-align: center;
    margin-left: 10px;
    margin-top: 40px;
  }
  .hero-img1 div{
    text-align: center;
    margin: 9px;
    padding: 10px;
    color: rgb(83, 80, 80);
  }
  .hero-box{
    display: block;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    margin-left: 90px;
  }
  img{
    width: 200px;
    margin-top: 90px;
    border-radius: 20px;
    margin-left: 50px;
  }
  .hero-text a{
    display: inline-block;
    color: white;
    background-color: orange;
    border: 1px solid transparent;
    padding: 5px 8px;
    margin-top: 19px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
    margin-left: 50px;
  }
  
  footer{
    width: 415px;
  }
  .hero-box{
    margin-left: 30px;
  }
  .hero-box div{
    
    border: 1px solid transparent;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px 3px 5px rgba(7, 7, 7, 0.2);
    margin-bottom: 20px;
    margin-right: 30px;
    cursor: pointer;
    transition: all .55s ease;
    
  }
  .hero3 .box2 p{
    font-size: 10px;
  }
}
  header{
    width: 100%;
  }
 
}
